echo "buildenv/" >> .gitignore
echo "build/" >> .gitignore
echo "dist/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.pyo" >> .gitignore
echo "*.spec" >> .gitignore
echo "downloads/" >> .gitignore
